@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html{
    margin: 1em;
}

:root {
    --black: #000000;
    --white: #FFFFFF;
    --dark: #2e3440;
    --light: #eceff4;
    --blue: #81a1c1;
    --teal: #3ab6c0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5em;
    max-width: 650px;
    margin: 1em auto;
    background-color: var(--white);
    color: var(--black);
    font-size: 14pt;
    text-align: justify;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--teal);
}

#scroller {
    height: 0.4em;
    width: 0%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--teal);
}

.headshot {
    float: left;
    width: auto;
    height: calc(1.5*6em);
    border-radius: 2%;
    margin: 0em 1em 0em 0em;
}