/* CV-specific styles */

#cv-header {
    text-align: center;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

.cv-title {
    font-size: 20pt;
    font-weight: 700;
    margin-bottom: 0em;
}

.cv-email, .cv-website {
    display: inline;
}

.cv-separator {
    margin: 0 0.5em;
}

/* CV section styling */
h1 {
    font-size: 18pt;
    font-weight: 700;
    margin-top: 2em;
}

h2 {
    font-size: 14pt;
    font-weight: 600;
    margin-top: 1.5em;
}

h3 {
    font-size: 12pt;
    font-weight: 600;
    margin-top: 1em;
}

/* Table styling for CV */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

table > tbody > tr > td:nth-child(odd) {
    width: 8em;
    text-align: right;
    vertical-align: top;
    padding-right: 1.5em;
    padding-bottom: 0.8em;
}

table > tbody > tr > td:nth-child(even) {
    vertical-align: top;
    padding-bottom: 0.8em;
    line-height: 1.5;
}

table > tbody > tr > td:nth-child(even) > em {
    display: block;
    margin-top: 0.3em;
    color: var(--grey3);
    font-size: 10pt;
}

/* Publications and lists */
ol, ul {
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.8em;
}

/* Emphasize author name in publications */
strong {
    font-weight: 700;
}

/* Underline for mentored students */
u {
    text-decoration: underline;
}

/* Better spacing for paragraphs in CV */
p {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    background-color: var(--white);
    color: var(--black);
    font-size: 12pt;
    padding: 0;
}

a:hover {
  color: var(--black);
  text-decoration: underline;
}


/* Print styles for CV */
@media print {
    body {
        max-width: 100%;
        margin: 0;
        padding: 1em;
        box-shadow: none;
    }
    
    html {
        background-color: white;
    }
    
    #scroller {
        display: none;
    }
    
    a {
        color: var(--black);
        background-color: transparent;
    }
    
    /* Ensure proper page breaks */
    h1, h2, h3 {
        page-break-after: avoid;
    }
    
    li, table > tbody > tr {
        page-break-inside: avoid;
    }
}

/* Mobile responsive styles */
@media (max-width: 600px) {
    table > tbody > tr > td:nth-child(odd) {
        width: 5em;
        padding-right: 1em;
        font-size: 10pt;
    }
    
    table > tbody > tr > td:nth-child(even) {
        font-size: 11pt;
    }
}
