:root {
    --headshot-width: 9em;
}

section {
    padding: 0em;
    margin: 1em 0em 2em 0em;
}

h1 {
    font-size: 16pt;
    margin: 0em;
    color: var(--white);
    text-decoration: none;
    background-color: var(--nord0);
    border-radius: 4px;
    padding: 0.2em 0.3em;
    width: fit-content;
}

h2 {
    font-size: 12pt;
    margin: 0em;
    margin-top: 0.5em;
    color: var(--nord0);
    text-decoration: none;
    background-color: var(--nord4);
    border-radius: 4px;
    padding: 0.2em 0.3em;
    width: fit-content;
}

/* Profile Section Stuff */

#profile > h1 {
    display: none;
}

.headshot {
    width: var(--headshot-width);
    height: auto;
    border-radius: 4px;
    vertical-align: middle;
}

/* News, Publication, and Teaching Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 12pt;
}

table > tbody > tr > td:nth-child(odd) {
    width: 6em;
    text-align: right;
    vertical-align: top;
    padding-right: 1em;
}

/* Profile Table */

#profile > table {
    width: 100%;
    border-collapse: collapse;
    margin: 0em;
    font-size: 14pt;
}

#profile > table td + td { 
    border-left:2px solid var(--nord0); 
}

#profile > table > tbody > tr > td:nth-child(odd) {
    width: var(--headshot-width);
    padding-right: 2em;
    text-align: left;
}

#profile > table > tbody > tr > td:nth-child(even) {
    padding-left: 2em;
}

#profile > table > tbody > tr > td > p,  #profile > table > tbody > tr > td > div > p {
    margin: 0em;
    padding: 0em;
}

/* Mobile Stuff */

@media (max-width: 600px) {
    .headshot {
        display: none;
    }

    #profile > table > tbody > tr > td:nth-child(odd) {
        width: 0em;
        padding: 0em;
    }

    #profile > table > tbody > tr > td:nth-child(even) {
        padding-left: 1em;
    }
}
