@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html{
    background-color: var(--nord6);
}

:root {
    --white: #ffffff;
    --black: #000000;
    --teal: #3ab6c0;

    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5em;
    max-width: 750px;
    margin: 1em auto;
    padding: 1em 2em 1em 2em;
    border-radius: 4px;
    background-color: var(--white);
    color: var(--black);
    font-size: 14pt;
    box-shadow: 0 0 10px var(--nord4);
}

a {
    color: var(--black);
    text-decoration: none;
    background-color: var(--nord8);
    border-radius: 4px;
    padding: 0em 0.2em;
    font-size: 95%;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

a:hover {
    color: var(--white);
}

#scroller {
    height: 0.4em;
    width: 0%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--nord11);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Hack because Panddoc tries to calculate the size of tables columns */
col {
    width: 0% !important;
}

@media (max-width: 840px) {
    body {
        padding: 1em;
        margin: 0em;
        box-shadow: none;
    }

    html{
        background-color: transparent;
    }
}