<head>
    <title>name-placeholder</title>
    <meta charset="UTF-8">
    <meta name="description" content="description-placeholder">
    <meta name="author" content="name-placeholder">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="light.css" id="theme-link">
    <link rel="shortcut icon" type="image/png" href="favicon-placeholder" />
    tracker-placeholder
</head>